<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
CartBoard 社区致力于 AR/VR 的技术研究。

CartBoard 社区由一批热爱ARVR技术的工程师发起,我们非常欢迎更多对 ARVR 感兴趣的朋友。

请关注我们的官方微博：http://weibo.com/***

### 移动客户端
*/
        })) %>
      </div>
    </div>
  </div>
</div>
